.h4 {
    color: #fdfdfd !important;
    font-family: "Century Gothic", Roboto !important;
    font-weight: bold;
}

.logo {
    width: 70px !important;
    height: 70px !important;
}



//media queries
@media (min-width: 375px) {
}

@media (min-width: 400px) {
}

@media (min-width: 440px) {
}

@media (min-width: 620px) {
}

@media (min-width: 730px) {
}

@media (min-width: 768px) {
}
