<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-1 pt-0 pb-3 pb-md-5 pb-xl-3 shadow-lg col-12 col-lg-8"
>
  <div class="jumbotron-fluid pb-md-5">
    <div class="head-icon d-flex justify-content-center my-0 pb-0">
      <img
        class="mx-auto my-0 py-0"
        src="assets/img/tree-trans.svg"
        width="80"
        height="80"
      />
    </div>
    <div class="col-12 mt-5 mb-2 mb-md-5 mb-xl-4 py-5 justify-content-between">
      <h4 class="text-center text-dark">
        Please check your email for the reset password link and code to use.
      </h4>
    </div>
    <div class="col-12 mt-2 mb-5 py-5 justify-content-between">
    </div>
  </div>
</div>
<!--footer -->
<div class="d-flex justify-content-center col-12 mt-3 mt-md-5 mt-xl-4 mx-auto">
  <div class="small text-center text-dark">&copy; 2021 - Makorogos</div>
</div>
<!--/ footer -->
